torch==2.8.0
torchvision==0.23.0
lightning==2.4.0
pandas==2.2.3
torchdiffeq==0.2.5
matplotlib==3.10.1
comet_ml==3.49.6
torchsde==0.2.6
pytest==8.3.5
gpytorch==1.14
torchtyping==0.1.5
transformers==4.52.4
huggingface_hub==0.32.6
datasets==4.1.1
rdkit-pypi==2025.03.2
py3Dmol==2.5.2
